fastapi~=0.110.0
requests~=2.31.0
SQLAlchemy~=2.0.23
pydantic~=2.6.4
uvicorn~=0.29.0
openpyxl~=3.1.2
httpx~=0.27.0
pytest~=8.2.1
alpaca-trade-api~=3.2.0
psycopg2-binary~=2.9.9
pydantic-settings~=2.0.0