@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: rgb(24, 26, 31);
    --secondary-background-color: rgb(39, 44, 52);
    --primary-color: #ffffff;
    --secondary-color: rgb(49, 70, 255);
}
html, body, #root{
    height: 100%;
    margin: 0;
}